@charset "UTF-8";
/* Body */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #E74C3C;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
/* Container */
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #E74C3C;
}
/* Spotlight Section */
.spotlight {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.title {
	color: #ffffff;
	font-size: 2.5em;
	font-weight: 700;
	padding: 0;
	margin: 0;
	letter-spacing: 3px;
}
.big_letter {
	color: #ffffff;
	font-size: 10em;
	font-weight: 600;
}
.hidden_content {
	font-size: 1.5em;
	color: #E74C3C;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
table {
	width: 100%;
	border-spacing: 0px;
	border: 0;
	padding: 0;
	margin: 0;
}
table tr td {
	border: 0;
	padding: 0;
	margin: 0;
}
.button {
    background-color: #ffffff; /* Green */
		border-radius: 12px;
    border: none;
    color: #E74C3C;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
		font-weight: 600;
}
.hate {
	text-decoration: line-through;
}
.content {
	color: #ffffff;
	font-size: 1.25em;
}
.faded {
	opacity: 0.4;
}
.italic {
	font-style: italic;
}
.footer {
	color: #ffffff;
	font-size: 1.25em;
	font-weight: 600;
}

@media only screen and (max-device-width: 720px) {
	.big_letter {
		font-size: 5em;
	}
	.title {
		font-size: 1em;
	}
	.hidden_content {
		font-size: .75em;
	}
	.button {
		font-size: .75em;
		padding: 4px 4px;
	}
	.content {
		font-size: .75em;
	}
	.footer {
		font-size: 1em;
	}
}
