@charset "UTF-8";

/* Navigation */
header {
	width: 100%;
	margin: 0px;
	display: inline;
}
.nav_item {
	font-size: 20px;
	letter-spacing: 1px;
	transition: all 0.3s linear;
	color: #ffffff;
	text-decoration: none;
}
.nav_item:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.underline {
	border-bottom: 2px solid #ffffff;
}
.nav_right {
	padding-top: 15px;
	padding-right: 15px;
	float: right;
}
.filler {
	height: 15vh;
}

@media only screen and (max-device-width: 480px) {
	.nav_item {
		font-size: 13px;
	}
}
