@charset "UTF-8";
/* Body */
body {
	font-family: 'AvenirNext','Helvetica Neue',Arial,Helvetica,sans-serif;
	background-color: #062514;
	margin: 0px;
	padding: 0px;
}
/* Container */
.container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #062514;
}
/*Image container*/
img {
	width: auto;
	height: 80vh;
	display: block;
  margin: 0 auto;
  clear: right;
}
/* Spotlight Section */
.spotlight {
	height: 80vh;
}
@media only screen and (max-device-width: 520px) {
	img {
		width: 80%;
		height: auto;
	}
}
