@charset "UTF-8";
/* Body */
body {
	font-family: 'AvenirNext','Helvetica Neue',Arial,Helvetica,sans-serif;
	background-color: #ffd155;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
/* Container */
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #ffd155;
}
/*Image */
.img_main {
	width: 100%;
	height: auto;
}
.img_logo {
	margin-left: 25px;
	width: 30%;
	height: auto;
}
.img_border {
	border: 10px solid transparent;
}
/* Spotlight Section */
.spotlight {
	padding-top: 50px;
	text-align: center;
}
table {
	border-spacing: 20px;
}
/*normal mode*/
#desktop_table {
    display: block;
}
#mobile_table {
    display: none;
}

@media only screen and (max-width: 1025px) {
	table {
		border-spacing: 5px;
	}
	.img_logo {
		width: 50%;
	}
	/*normal mode*/
	#desktop_table {
	    display: none;
	}
	#mobile_table {
	    display: block;
	}
}
