@charset "UTF-8";
/* Body */
body {
	font-family: 'AvenirNext','Helvetica Neue',Arial,Helvetica,sans-serif;
	background-color: #ffd155;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
/* Container */
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #ffd155;
}
/*Image */
.img_main {
	width: 100%;
	height: auto;
}
.img_logo {
	margin-left: 25px;
	width: 30%;
	height: auto;
}
.img_border {
	border: 10px solid transparent;
}
/* Spotlight Section */
.spotlight {
	position: relative;
	padding-top: 50px;
	text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
.text_line {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: #ffffff;
	font-size: 2em;
	font-weight: 800;
}
table {
	border-spacing: 20px;
}
@media only screen and (max-device-width: 480px) {
	.text_line {
		font-size: 1em;
		font-weight: 700;
	}
	table {
		border-spacing: 5px;
	}
	.img_logo {
		width: 50%;
	}
}
