@charset "UTF-8";
/* Body */
body {
	font-family: 'AvenirNext','Helvetica Neue',Arial,Helvetica,sans-serif;
	background-color: #FFFC00;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
/* Container */
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #FFFC00;
}
/* Spotlight Section */
.spotlight {
	padding-top: 50px;
	padding-bottom: 50px;
}
