@charset "UTF-8";
/* Body */
body {
	font-family: 'AvenirNext','Helvetica Neue',Arial,Helvetica,sans-serif;
	background-color: #02c9c9;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
/* Container */
.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #02c9c9;
}
/* Spotlight Section */
.spotlight {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 10%;
	margin-right: 10%;
}
/*content*/
.content {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	color: #ffffff;
	font-size: 2em;
	font-weight: 800;
}
.excuse {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #ffffff;
	font-size: 2em;
}

@media only screen and (max-device-width: 480px) {
	.content {
		font-size: .75em;
	}
	.excuse {
		font-size: 1em;
	}
	.spotlight {
		margin-left: 5%;
		margin-right: 5%;
	}
}
